# Virtual environments
venv*/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.idea

# Tool configuration files
.mypy_cache/
.pytest_cache/
.tox/
coverage.*

# Data directory - exclude all contents
data/

# Any folder starting with venv
venv*/
