tqdm==4.66.1
huggingface-hub>=0.20.0
#transformers==4.30.2
sentence-transformers>=2.6.1
llama-index-core==0.10.1
openai
#langchain
#sentence-transformers
llama-index-embeddings-huggingface==0.1.1
llama-index-retrievers-bm25
llama-index-readers-file==0.1.4
llama-index-readers-web==0.1.4
trafilatura
lxml_html_clean