huggingface-hub>=0.29.1
#transformers==4.30.2
sentence-transformers>=3.4.1
llama-index-core==0.12.21
openai
langchain-core
#langchain
#sentence-transformers
llama-index-embeddings-huggingface==0.5.2
llama-index-retrievers-bm25==0.5.2
llama-index-readers-file==0.4.5
llama-index-readers-web==0.3.6
trafilatura
lxml[html_clean]
lxml_html_clean